# .env ve gizli dosyalara erişimi engelle
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Ana dizin girişinde index.php kullanılsın
DirectoryIndex index.php

# Rewrite ayarları
RewriteEngine On

# Eğer istek public klasörüne değilse, public klasörüne yönlendir
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# PHP ayarları (cPanel tarafından eklenmişse kalsın)
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>

